@use 'mixins/mixins' as *;

@include b(button) {
  background-color: rgba(156, 163, 175, 1);
  transition-duration: 0.1s;
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: rgba(156, 163, 175, 1);
  border-width: 1px;
  cursor: pointer;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  &:hover,
  &:focus {
    background-color: rgba(156, 163, 175, 0.5);
    outline: none;
  }
  > span {
    display: inline-flex;
    align-items: center;
  }
  @include when(plain) {
  }
  @each $size in (large, medium, small) {
    @include m($size) {
      @if $size == large {
        padding: 10px 25px;
      }
      @if $size == medium {
        padding: 8px 15px;
      }
      @if $size == small {
        padding: 3px 10px;
      }
    }
  }
}
